@import "tailwindcss";
@source "../../src/**/*.{ts,tsx}";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-skeleton: skeleton 2s ease-in-out infinite;
}

@keyframes skeleton {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.8; }
}
